@import url(//weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    font-size: 25px;
}

/*TYPOGRAPHY*/
body {
    background: url(subtle_dots.png); /* http://subtlepatterns.com/subtle-dots/ */
    
}

body * {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    line-height: 30px;
}

hr {
    width: 900px;
    margin-top: 30px;
    border-style: dashed;
    border-color: #a67d00;
}

h1 {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    color: #fff;
}

h2 {
    color: #ff4c00;
    font-size: 24px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
}

section {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    color: #043c6b;
    text-align: center;
    line-height: 1.5;
}

.square {
    list-style-type: square;
}


/*RESPONSIVE*/
@media screen and (max-width: 320px) {
    .right{
        width: 100%;
    }

    .web{
        width: 100%;
    }


}


/*MAIN SECTION*/
#mainInfo {
    width: 300px;
    height: 190px;
    padding-top: 110px;
    border-radius: 100%;
    background-color: #0b5fa5;
    color: #fff;
}

#mainInfo a {
    color: #fff;  
}

#mainInfo a:hover {
    color: #ff7940;
    text-shadow: 1px 1px 1px #ff4c00;
}

#mainInfo p {
    font-style: italic;
    font-size: 1em;
}

#profile p,ul{
    margin-top: 5px;
    text-align: left;
    line-height: 1.5;
}

.web, .design{
    width: 20%;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    float: left;
    text-align: center;
    text-decoration: underline;
}

img{
    width: 70%;
    height: 100px;
}

.institution
{
    font-style: italic;
}

.position
{
    font-weight: bold;
}

.left {
    width: 320px;
    height: auto;
    text-align: left;
    position: relative;
    float: left;
    margin-top: 20px;
}

.right {
    width: 80%;
    text-align: justify;
    position: relative;
    float: right;
    margin-top: 20px;
}

#education .position{
    margin-top: 10px;
}

#technology p{
    text-align: left;
    margin-top: 5px;
}

#interests {
    margin-bottom: 60px;
}

footer {
    width: 100%;
    height: 30px;
    background-color: #3f8fd2;
    position: fixed;
    bottom:-.085em;
    text-align: center;
    padding: 10px;
}

footer a {
    margin: 0 3px;
    color: #043c6b;
}

footer a:hover {
    color: #ff7940;
    text-shadow: 1px 1px 1px #ff4c00;
}

a {
    text-decoration: none;
}

